USE [master]
GO
/****** Object:  Database [AccountsPayable]    Script Date: 12/12/2018 20:33:24 ******/
CREATE DATABASE [AccountsPayable]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AccountsPayable', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MICHAEL\MSSQL\DATA\AccountsPayable.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AccountsPayable_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MICHAEL\MSSQL\DATA\AccountsPayable_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccountsPayable].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccountsPayable]
GO
USE [AccountsPayable]
GO
/****** Object:  Table [dbo].[TBL_CUSTOMERS]    Script Date: 12/12/2018 20:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CUSTOMERS](
	[NUM_Customer_ID] [int] NOT NULL,
	[NUM_phone] [int] NOT NULL,
	[CHR_firstname] [varchar](225) NOT NULL,
	[CHR_surname] [varchar](225) NOT NULL,
	[CHR_email] [varchar](225) NOT NULL,
	[CHR_address_] [varchar](320) NOT NULL,
	[CHR_country] [varchar](225) NOT NULL,
	[CHR_city] [varchar](225) NOT NULL,
 CONSTRAINT [PK_TBL_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[NUM_Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_INVOICE]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INVOICE](
	[NUM_invoiceID] [int] NOT NULL,
	[NUM_POID] [int] NOT NULL,
	[DT_created_date] [date] NOT NULL,
	[DT_due_date] [date] NOT NULL,
	[CHR_info] [varchar](320) NULL,
	[NUM_vendorID] [int] NOT NULL,
	[FT_total] [float] NULL,
	[FT_discount] [float] NULL,
	[NUM_Istatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_INVOICE_ITEMS]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INVOICE_ITEMS](
	[NUM_invoiceID] [int] NOT NULL,
	[NUM_itemID] [int] NOT NULL,
	[NUM_quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_invoiceID] ASC,
	[NUM_itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PAYMENT]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PAYMENT](
	[NUM_PaymentID] [int] NOT NULL,
	[NUM_PaymentType] [int] NOT NULL,
	[NUM_invoiceID] [int] NULL,
	[NUM_vendorID] [int] NULL,
	[NUM_SalaryID] [int] NULL,
	[NUM_POID] [int] NULL,
	[DT_issueDate] [datetime] NULL,
	[DT_paymentDate] [datetime] NULL,
	[FT_amount] [float] NULL,
	[FT_BalanceDue] [float] NULL,
	[DT_duedate] [date] NULL,
	[FT_discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PAYMENT_TYPES]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PAYMENT_TYPES](
	[NUM_PTID] [int] NOT NULL,
	[NUM_ptype] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_PTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PO_ITEMS]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PO_ITEMS](
	[NUM_POID] [int] NOT NULL,
	[NUM_itemID] [int] NOT NULL,
	[NUM_quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_POID] ASC,
	[NUM_itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCT_CATEGORIES]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCT_CATEGORIES](
	[NUM_Category_id] [int] NOT NULL,
	[CHR_Category_name] [varchar](50) NOT NULL,
	[CHR_Description] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_PRODUCT_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[NUM_Category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PURCHASE_ORDER]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PURCHASE_ORDER](
	[NUM_POID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_notes] [varchar](225) NULL,
	[NUM_userID] [int] NULL,
	[NUM_tax] [int] NULL,
	[DT_delivery_date] [varchar](50) NOT NULL,
	[DT_created_date] [date] NULL,
	[CHR_terms] [varchar](320) NULL,
	[CHR_deliveryAddress] [varchar](225) NULL,
	[NUM_vendorID] [int] NULL,
	[FT_total] [float] NULL,
	[NUM_POstatus] [int] NULL,
 CONSTRAINT [PK__TBL_PURC__C0CB9F33F775B0CC] PRIMARY KEY CLUSTERED 
(
	[NUM_POID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RECEIPT]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RECEIPT](
	[NUM_receiptID] [int] NOT NULL,
	[FT_amount] [float] NOT NULL,
	[DT_printDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_receiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RECEIVED_ITEMS]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RECEIVED_ITEMS](
	[NUM_RRID] [int] NOT NULL,
	[NUM_itemID] [int] NOT NULL,
	[NUM_quantity] [int] NOT NULL,
	[NUM_received] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_RRID] ASC,
	[NUM_itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RECEIVING_REPORT]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RECEIVING_REPORT](
	[NUM_RRID] [int] NOT NULL,
	[DT_delivery_date] [date] NOT NULL,
	[DT_created_date] [date] NOT NULL,
	[CHR_terms] [varchar](320) NULL,
	[NUM_POID] [int] NULL,
	[CHR_notes] [varchar](320) NULL,
	[FT_total] [float] NULL,
	[NUM_RRstatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_RRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SALARY_PAYMENTS]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SALARY_PAYMENTS](
	[NUM_SalaryID] [int] NOT NULL,
	[NUM_userID] [int] NOT NULL,
	[NUM_salaryType] [int] NOT NULL,
	[FT_amount] [float] NOT NULL,
	[DT_paydate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SALARY_TYPES]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SALARY_TYPES](
	[NUM_STID] [int] NOT NULL,
	[NUM_stype] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_STID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SC_ITEMS]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SC_ITEMS](
	[NUM_itemID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_item_name] [varchar](225) NOT NULL,
	[FT_price] [float] NOT NULL,
	[CHR_info] [varchar](320) NULL,
	[NUM_manufacturer] [int] NULL,
	[NUM_Quantity] [int] NOT NULL,
	[CHR_Product_saleflag] [varchar](50) NULL,
	[NUM_Vat_category] [int] NULL,
	[NUM_Product_category] [int] NULL,
	[NUM_Barcode] [numeric](20, 0) NULL,
 CONSTRAINT [PK__TBL_SC_I__14637B9CAB9F51A1] PRIMARY KEY CLUSTERED 
(
	[NUM_itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 12/12/2018 20:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[NUM_UserID] [int] NOT NULL,
	[CHR_firstname] [varchar](225) NOT NULL,
	[CHR_surname] [varchar](225) NOT NULL,
	[CHR_email] [varchar](320) NULL,
	[NUM_phone] [int] NULL,
	[CHR_city] [varchar](225) NULL,
	[CHR_country] [varchar](225) NULL,
	[CHR_username] [varchar](225) NOT NULL,
	[CHR_pass] [varchar](225) NOT NULL,
	[CHR_address] [varchar](320) NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VAT_CATEGORIES]    Script Date: 12/12/2018 20:33:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VAT_CATEGORIES](
	[NUM_Vat_id] [int] IDENTITY(1,1) NOT NULL,
	[NUM_Vat_rate] [int] NOT NULL,
	[CHR_Description] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_VAT_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[NUM_Vat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VENDOR]    Script Date: 12/12/2018 20:33:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VENDOR](
	[NUM_Vendor_ID] [int] NOT NULL,
	[NUM_phone] [int] NOT NULL,
	[CHR_address] [varchar](320) NOT NULL,
	[CHR_companyName] [varchar](225) NOT NULL,
	[CHR_companyType] [varchar](225) NOT NULL,
	[CHR_country] [varchar](225) NOT NULL,
	[CHR_city] [varchar](225) NOT NULL,
	[CHR_titl] [varchar](225) NOT NULL,
	[CHR_firstname] [varchar](225) NOT NULL,
	[CHR_surname] [varchar](225) NOT NULL,
	[CHR_email] [varchar](225) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_Vendor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_INVOI__NUM_P__5629CD9C] FOREIGN KEY([NUM_POID])
REFERENCES [dbo].[TBL_PURCHASE_ORDER] ([NUM_POID])
GO
ALTER TABLE [dbo].[TBL_INVOICE] CHECK CONSTRAINT [FK__TBL_INVOI__NUM_P__5629CD9C]
GO
ALTER TABLE [dbo].[TBL_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_INVOI__NUM_P__571DF1D5] FOREIGN KEY([NUM_POID])
REFERENCES [dbo].[TBL_PURCHASE_ORDER] ([NUM_POID])
GO
ALTER TABLE [dbo].[TBL_INVOICE] CHECK CONSTRAINT [FK__TBL_INVOI__NUM_P__571DF1D5]
GO
ALTER TABLE [dbo].[TBL_INVOICE]  WITH CHECK ADD FOREIGN KEY([NUM_vendorID])
REFERENCES [dbo].[TBL_VENDOR] ([NUM_Vendor_ID])
GO
ALTER TABLE [dbo].[TBL_INVOICE]  WITH CHECK ADD FOREIGN KEY([NUM_vendorID])
REFERENCES [dbo].[TBL_VENDOR] ([NUM_Vendor_ID])
GO
ALTER TABLE [dbo].[TBL_INVOICE_ITEMS]  WITH CHECK ADD FOREIGN KEY([NUM_invoiceID])
REFERENCES [dbo].[TBL_INVOICE] ([NUM_invoiceID])
GO
ALTER TABLE [dbo].[TBL_INVOICE_ITEMS]  WITH CHECK ADD FOREIGN KEY([NUM_invoiceID])
REFERENCES [dbo].[TBL_INVOICE] ([NUM_invoiceID])
GO
ALTER TABLE [dbo].[TBL_INVOICE_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_INVOI__NUM_i__5BE2A6F2] FOREIGN KEY([NUM_itemID])
REFERENCES [dbo].[TBL_SC_ITEMS] ([NUM_itemID])
GO
ALTER TABLE [dbo].[TBL_INVOICE_ITEMS] CHECK CONSTRAINT [FK__TBL_INVOI__NUM_i__5BE2A6F2]
GO
ALTER TABLE [dbo].[TBL_INVOICE_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_INVOI__NUM_i__5CD6CB2B] FOREIGN KEY([NUM_itemID])
REFERENCES [dbo].[TBL_SC_ITEMS] ([NUM_itemID])
GO
ALTER TABLE [dbo].[TBL_INVOICE_ITEMS] CHECK CONSTRAINT [FK__TBL_INVOI__NUM_i__5CD6CB2B]
GO
ALTER TABLE [dbo].[TBL_PAYMENT]  WITH CHECK ADD FOREIGN KEY([NUM_PaymentType])
REFERENCES [dbo].[TBL_PAYMENT_TYPES] ([NUM_PTID])
GO
ALTER TABLE [dbo].[TBL_PO_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PO_IT__NUM_i__5EBF139D] FOREIGN KEY([NUM_itemID])
REFERENCES [dbo].[TBL_SC_ITEMS] ([NUM_itemID])
GO
ALTER TABLE [dbo].[TBL_PO_ITEMS] CHECK CONSTRAINT [FK__TBL_PO_IT__NUM_i__5EBF139D]
GO
ALTER TABLE [dbo].[TBL_PO_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PO_IT__NUM_i__5FB337D6] FOREIGN KEY([NUM_itemID])
REFERENCES [dbo].[TBL_SC_ITEMS] ([NUM_itemID])
GO
ALTER TABLE [dbo].[TBL_PO_ITEMS] CHECK CONSTRAINT [FK__TBL_PO_IT__NUM_i__5FB337D6]
GO
ALTER TABLE [dbo].[TBL_PO_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PO_IT__NUM_P__60A75C0F] FOREIGN KEY([NUM_POID])
REFERENCES [dbo].[TBL_PURCHASE_ORDER] ([NUM_POID])
GO
ALTER TABLE [dbo].[TBL_PO_ITEMS] CHECK CONSTRAINT [FK__TBL_PO_IT__NUM_P__60A75C0F]
GO
ALTER TABLE [dbo].[TBL_PO_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PO_IT__NUM_P__619B8048] FOREIGN KEY([NUM_POID])
REFERENCES [dbo].[TBL_PURCHASE_ORDER] ([NUM_POID])
GO
ALTER TABLE [dbo].[TBL_PO_ITEMS] CHECK CONSTRAINT [FK__TBL_PO_IT__NUM_P__619B8048]
GO
ALTER TABLE [dbo].[TBL_PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PURCH__NUM_u__628FA481] FOREIGN KEY([NUM_userID])
REFERENCES [dbo].[TBL_USER] ([NUM_UserID])
GO
ALTER TABLE [dbo].[TBL_PURCHASE_ORDER] CHECK CONSTRAINT [FK__TBL_PURCH__NUM_u__628FA481]
GO
ALTER TABLE [dbo].[TBL_PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PURCH__NUM_u__6383C8BA] FOREIGN KEY([NUM_userID])
REFERENCES [dbo].[TBL_USER] ([NUM_UserID])
GO
ALTER TABLE [dbo].[TBL_PURCHASE_ORDER] CHECK CONSTRAINT [FK__TBL_PURCH__NUM_u__6383C8BA]
GO
ALTER TABLE [dbo].[TBL_PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PURCH__NUM_v__6477ECF3] FOREIGN KEY([NUM_vendorID])
REFERENCES [dbo].[TBL_VENDOR] ([NUM_Vendor_ID])
GO
ALTER TABLE [dbo].[TBL_PURCHASE_ORDER] CHECK CONSTRAINT [FK__TBL_PURCH__NUM_v__6477ECF3]
GO
ALTER TABLE [dbo].[TBL_PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK__TBL_PURCH__NUM_v__656C112C] FOREIGN KEY([NUM_vendorID])
REFERENCES [dbo].[TBL_VENDOR] ([NUM_Vendor_ID])
GO
ALTER TABLE [dbo].[TBL_PURCHASE_ORDER] CHECK CONSTRAINT [FK__TBL_PURCH__NUM_v__656C112C]
GO
ALTER TABLE [dbo].[TBL_RECEIVED_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_RECEI__NUM_i__66603565] FOREIGN KEY([NUM_itemID])
REFERENCES [dbo].[TBL_SC_ITEMS] ([NUM_itemID])
GO
ALTER TABLE [dbo].[TBL_RECEIVED_ITEMS] CHECK CONSTRAINT [FK__TBL_RECEI__NUM_i__66603565]
GO
ALTER TABLE [dbo].[TBL_RECEIVED_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_RECEI__NUM_i__6754599E] FOREIGN KEY([NUM_itemID])
REFERENCES [dbo].[TBL_SC_ITEMS] ([NUM_itemID])
GO
ALTER TABLE [dbo].[TBL_RECEIVED_ITEMS] CHECK CONSTRAINT [FK__TBL_RECEI__NUM_i__6754599E]
GO
ALTER TABLE [dbo].[TBL_RECEIVED_ITEMS]  WITH CHECK ADD FOREIGN KEY([NUM_RRID])
REFERENCES [dbo].[TBL_RECEIVING_REPORT] ([NUM_RRID])
GO
ALTER TABLE [dbo].[TBL_RECEIVED_ITEMS]  WITH CHECK ADD FOREIGN KEY([NUM_RRID])
REFERENCES [dbo].[TBL_RECEIVING_REPORT] ([NUM_RRID])
GO
ALTER TABLE [dbo].[TBL_RECEIVING_REPORT]  WITH CHECK ADD  CONSTRAINT [FK__TBL_RECEI__NUM_P__6A30C649] FOREIGN KEY([NUM_POID])
REFERENCES [dbo].[TBL_PURCHASE_ORDER] ([NUM_POID])
GO
ALTER TABLE [dbo].[TBL_RECEIVING_REPORT] CHECK CONSTRAINT [FK__TBL_RECEI__NUM_P__6A30C649]
GO
ALTER TABLE [dbo].[TBL_RECEIVING_REPORT]  WITH CHECK ADD  CONSTRAINT [FK__TBL_RECEI__NUM_P__6B24EA82] FOREIGN KEY([NUM_POID])
REFERENCES [dbo].[TBL_PURCHASE_ORDER] ([NUM_POID])
GO
ALTER TABLE [dbo].[TBL_RECEIVING_REPORT] CHECK CONSTRAINT [FK__TBL_RECEI__NUM_P__6B24EA82]
GO
ALTER TABLE [dbo].[TBL_SALARY_PAYMENTS]  WITH CHECK ADD FOREIGN KEY([NUM_salaryType])
REFERENCES [dbo].[TBL_SALARY_TYPES] ([NUM_STID])
GO
ALTER TABLE [dbo].[TBL_SALARY_PAYMENTS]  WITH CHECK ADD FOREIGN KEY([NUM_userID])
REFERENCES [dbo].[TBL_USER] ([NUM_UserID])
GO
USE [master]
GO
